* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    font: 14px/1.5 "Hind";
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #bd2631;
}

ul {
    list-style: none;
}

/*clearfix:after, clearfix:before {*/
/*content: ".";*/
/*display: table;*/
/*height: 0;*/
/*clear: both;*/
/*}*/

/*clearfix:after {*/
/*clear: both;*/
/*}*/

/*div {*/
/*border: 1px solid black;*/
/*}*/

.contacts-info {
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    position: relative;
    display: block;
    background: rgb(237, 237, 237);
    height: 40px;
    /*padding-left: 102px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*padding-right: 65px;*/
    padding: 10px 65px 10px 100px;
}

.address-block {
    float: left;
    padding-left: 47px;
}

.address-block div {
    display: inline-block;
    margin-right: 30px;
    font-family: "Hind", Serif, serif;
}

.phone-box i {
    font-size: 16px;
}

.address-box i {
    font-size: 16px;
}

.city-box {
    background: black;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 15px;
    border-radius: 3px;
}

.city-box i {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
}

.social-icons-block {
    float: right;
    padding-right: 40px;
    padding-top: 7px;
    font: 16px/1.5 "Hind";
}

.social-icons-block ul li {
    display: inline-block;
    margin-right: 16px;
    padding-right: 6px;
}

/* LOGO BLOCK =============================*/
.logo-block {
    position: relative;
    padding-left: 100px;
}

.logo-img {
    display: inline-block;
    float: left;
    padding-top: 32px;
    padding-left: 42px;
}

.logo-subtitles {
    display: inline-block;
    float: right;
    font-size: 15px;
    padding: 5px;

    margin-top: 32px;
}

.bold {
    font-weight: bold;
    padding-left: 10px;
}

.thin {
    color: rgb(122, 122, 122);
    padding-left: 27px;
}

.sub {
    display: inline-block;
    padding: 10px 30px;
    border-right: 1px solid;
    border-color: #808080;
}

.sub2 {
    display: inline-block;
    padding: 10px 30px;
}

/* NAVIGATION BLOCK ============================================*/

.menu:after {
    content: '';
    display: block;
    margin: 0 auto;
    clear: both;
}

.menu-block:after {
    content: '';
    display: block;
    margin: 0 auto;
    clear: both;
}
.menu {
    width: 100%;
    padding-top: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    height: 50px;

}
menu-block{
    height: 100%;
    display: inline-block;
    padding-right: 100px;
}
.menu-buttons {
    display: inline-block;
    float: left;
    padding-top: 4px;
    padding-left: 100px;

}

.menu-buttons li {
    list-style: none;
    display: inline;
    padding: 50px 21px 21px;
}

.menu-buttons li:hover {
    color: gray;
    border-bottom: 3px solid #bd2631;
}

.menu-buttons ul li a {
    position: relative;
    color: #fff;
    top:50%
}

.search-block  {
    color: gray;
    float: right;
    font-size: 16px;
    padding-top: 2px;
    padding-right: 40px;}

.search-block i{
    color: gray;
    font-size: 16px;
}



.search-block i:hover {
    color: #bd2631;
}

.active {
    border-bottom: 3px solid #bd2631;
}

/* SLIDER BLOCK */
/*
slider-item {
    position: relative;
    background: url("(../img/slider-img1-L41.jpg)") no-repeat center right;
    height: 600px;
}


slider-content {
    /*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding: 0 100px;
}

.arrows {
    position: absolute;
    top: 50%;
    color: white;
    fotnt-size: px;
    z-index: 99;
}

.arrow-right {
    right: 20px;
}

.arrow-left {
    left: 20px;
}

.slider-content h3 {
    font-size: 20px;
}

.slider-content h2 {
    font-size: 40px;
}

.slider-content p {
    font-size: 15px;
}

.slider-content-text {
    position: absolute;
    top: 40%;
    left: 80px;
}
*/