* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    font: 14px/1.5 "Hind";
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #bd2631;
}

ul {
    list-style: none;
}


.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

/*div {border: 1px solid black;}*/

.contacts-info {

    position: relative;
    display: block;
    background: rgb(237, 237, 237);
    height: 40px;

    padding: 10px 65px 10px 100px;
}

.address-block {
    float: left;
    padding-left: 38px;
}

.address-block div {
    display: inline-block;
    margin-right: 30px;
    font-family: "Hind", Serif, serif;
}

.phone-box {
    padding-left: 2px;
    padding-top: 2px;
}

.address-box {
    padding-left: 4px;
    padding-top: 4px;
}

.phone-box i {
    font-size: 22px;
}

.address-box i {
    font-size: 22px;
}

.city-box {
    background: black;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 3px;
}

.city-box i {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
}

.social-icons-block {
    float: right;
    padding-right: 50px;
    padding-top: 7px;
    font: 16px/1.5 "Hind";
}

.social-icons-block ul li {
    display: inline-block;
    margin-right: 15px;
    padding-right: 6px;
}

/* LOGO BLOCK =============================*/
.logo-block {
    padding-left: 100px;
    padding-top: 20px;
    background: #fff;
}

.logo-img {
    float: left;
    padding-left: 33px;
    padding-top: 10px;
    padding-bottom: 0;
}

.logo-subtitles {
    display: inline-block;
    float: right;
    font-size: 14px;
    padding-right: 100px;
    padding-top: 0;
    padding-bottom: 25px;
}

.sub h2 i {
    padding-right: 10px;
    font-size: 20px;
}

.sub2 h2 i {
    padding-right: 10px;
    font-size: 20px;
}

.sub {
    display: inline-block;
    margin: 11px;
    padding-right: 7px;
    padding-left: 8px;
    border-right: 1px solid;
    border-color: #e6e6e6;
}

.sub2 {
    display: inline-block;
    padding: 22px;
}

.bold {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;

}

.bold i {
    color: #000000;
    font-size: 14px;
    font-weight: lighter;
    padding-left: 20px;
}

.thin {

    color: #7a7a7a;
    font-size: 14px;
    padding-left: 33px;
}

/* NAVIGATION BLOCK ============================================*/

.menu:after {
    content: '';
    display: block;
    margin: 0 auto;
    clear: both;
}

.menu {
    width: 100%;
    padding-top: 25px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 999;
    height: 48px;

}

.menu-gamburger {
    float: left;
    visibility: hidden;
    color: white;
    margin-left: 0;
}

.menu ul {
    padding-left: 29px;
}

.menu-buttons {
    display: inline-block;
    float: left;
    padding-top: 0;
    padding-left: 100px;

}

.menu-buttons li {
    list-style: none;
    display: inline;
    padding: 0 14px 16px;
}

.menu-buttons li:hover {
    color: gray;
    border-bottom: 6px solid #bd2631;
}

.menu-buttons ul li a {
    position: relative;
    color: #fff;
    /*top: 50%;*/
    font: 16px/1.5 "Hind", serif;
}

.search-block {
    color: gray;
    float: right;
    font-size: 19px;
    padding-top: 0;
    padding-right: 123px;

}

.search-block i {
    color: white;
    padding: 0 24px 18px 21px;

}

.search-block i:hover {
    /*color: #bd2631;*/
    cursor: help;
    border-bottom: 6px solid #bd2631;
}

.active {
    border-bottom: 6px solid #bd2631;
}

/* SLIDER BLOCK */
/*
slider-item {
    position: relative;
    background: url("(../img/slider-img1-L41.jpg)") no-repeat center right;
    height: 600px;
}


slider-content {
    /*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding: 0 100px;
}

.arrows {
    position: absolute;
    top: 50%;
    color: white;
    fotnt-size: px;
    z-index: 99;
}

.arrow-right {
    right: 20px;
}

.arrow-left {
    left: 20px;
}

.slider-content h3 {
    font-size: 20px;
}

.slider-content h2 {
    font-size: 40px;
}

.slider-content p {
    font-size: 15px;
}

.slider-content-text {
    position: absolute;
    top: 40%;
    left: 80px;
}
*/

.blackline {
    color: #000000;
    height: 73px;
}

.redline {
    background: #BD2631;
    color: #ffffff;
    height: 100px;
}

.information:before {
    content: '';
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    clear: both;
}

.line-1:before {
    content: '';
    display: block;
    margin: 0 auto;
    clear: both;
}

.information {
    max-width: 100%;
    max-height: 90%;
}

.line-1 {
    max-width: 100%;
    height: 33%;
}

.line-2 {
    max-width: 100%;
    height: 33%;
}

.line-3 {
    max-width: 100%;
    height: 33%;
}

.products {
    float: left;

    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/l1-sklad-l42.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50%;
    min-height: 454px;
    margin: 0;
    /*border: darkblue solid 3px;*/
}

.services {
    float: left;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/l2-man-l45.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50%;
    min-height: 454px;
    margin: 0;
    /*border: darkblue solid 3px;*/
}

.battery {
    float: left;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/l3-room-l47.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50%;
    min-height: 454px;
    margin: 0;
    /*border: darkblue solid 3px;*/
}

.img {
    float: left;
    width: 25%;
    height: 454px;
    margin: 0;
    padding: 0;
}

.img-jpg {
    height: 100%;
    width: 100%;
}


/* Text in products*/
.text {
    width: 80%;
    margin: 153px 95px 30px 125px;
}

.prod-title {
    color: #BD2631;
    font: 30px/1.5 "Hind", serif;
    text-align: Left;
    padding-bottom: 29px;

}

.prod-text {
    width: 92%;

    text-align: left;
    font: 14px/2.2 "Hind", serif;
    font-weight: lighter;
    font-stretch: condensed;
    color: #ffffff;
}

/*Picture*/

/*PNG Sign on white background*/
.png-top-white {
    background: #ffffff;
    float: left;
    height: 454px;
    width: 25%;
    /*border: darkblue solid 3px;*/
}

.png-top-red {
    background: #BD2631;
    float: left;
    height: 454px;
    width: 25%;
    /*border: darkblue solid 3px;*/
}

.png-sub {
    /*border-color: white;*/
    padding-top: 0;
    padding-left: 30%;
    /*border: crimson solid 2px;*/
}

.png-sub2 {
    /*border-color: white;*/
    padding-top: 0;
    padding-left: 28%;
    /*border: crimson solid 2px;*/
}

.png-sub3 {
    /*border-color: white;*/
    padding-top: 0;
    padding-left: 33%;
    /*border: crimson solid 2px;*/
}

.spaces1 {
    padding-top: 167px;
}

.spaces2 {
    padding-top: 154px;
}

.spaces3 {
    padding-top: 162px;
}

.png1 {
    padding: 0;
    height: 107px;
    width: 140px;
    /*border: green solid 3px;*/
}

.png2 {
    padding: 0;
    height: 153px;
    width: 136px;
    /*border: green solid 3px;*/
}

.png3 {
    padding: 0;
    height: 121px;
    width: 136px;
    /*border: green solid 3px;*/
}

/*RESPONSIVE 1920-320*/

@media screen and (max-width: 1120px) {
    .contacts-info {
        height: 110px;
    }

    .address-block div {
        display: block;
        margin-bottom: 10px;
        float: none;
    }

    .city-box {
        width: 115px;
    }

    .phone-box,
    .address-box {
        width: 100%;
    }

    .phone-box span,
    .address-box span {
        width: 100%;
    }

    /*.address-block  {*/
    /*float: none;*/
    /*}*/
    /*.address-block div {*/
    /*display: block;*/
    /*margin-bottom: 10px;*/
    /*}*/
    .logo-img {
        float: none;
        text-align: center;
        padding-left: 0;
    }

    .logo-subtitles {
        float: none;
        text-align: center;
        padding-left: 200px;
        padding-right: 0;
    }

    .menu-buttons ul li {
        padding: 0px 5px 10px;
    }

    .png-sub {
        padding-left: 25%;
    }

    .png-sub2 {
        padding-left: 23%;
    }

    .png-sub3 {
        padding-left: 30%;
    }
}

@media screen and (max-width: 960px) {

    .logo-subtitles {
        padding-left: 120px;
    }

    .address-block {
        padding-left: 0px;
    }

    .text {
        margin-left: 60px;
        margin-right: 40px;
    }

    .menu-buttons {
        padding-left: 60px
    }

    .line-1,
    .line-2,
    .line-3 {
        display: block;
    }

    .img {
        width: 50%;
        height: 454px;
        padding: 0;
        margin: 0;
        float: left;
    }

    .line-3 img-jpg {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .battery {
        float: right;
        width: 100%;
        max-height: 454px;
    }

    .png-top-red {
        width: 50%;
        float: left;
    }

    .products {
        float: left;
        width: 100%;
        max-height: 454px;
    }

    .services {
        float: right;
        width: 100%;
        max-height: 454px;
    }

    .png-top-white {
        width: 50%;
    }

    .png-sub1 {
        padding-left: 35%;
    }

    .png-sub2 {
        padding-left: 35%;
    }

    .png-sub3 {
        padding-left: 35%;
    }

    .line-1 png {
        float: right
    }

    .line-1 img {
        float: left
    }

    .line-2 png {
        display: block;
    }

    .line-2 img {
        float: left;
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .contacts-info {
        padding-left: 75px;
    }

    .logo-block {
        padding-left: 25px;
    }

    .menu-buttons {
        padding-left: 25px;
    }

    .logo-subtitles {
        padding-left: 80px;
    }

    .search-block i {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 760px) {

    .contacts-info {
        height: 150px;
        text-align: center;
        padding-left: 50px;
    }

    .menu-buttons {
        visibility: hidden;
    }

    .search-block {
        visibility: hidden;
    }

    .menu-gamburger {
        visibility: visible;
        margin-left: 100px;
        font-size: 16px;
    }

    .logo-subtitles {
        display: block;
        padding-left: 0px;
    }

    .logo-block {
        float: none;
        padding-left: 30px;

    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .city-box {
        width: 100%;
        padding-left: 0;
    }

    .address-block,
    .social-icons-block {
        float: none;
        width: 100%;
        text-align: center;
    }

    .social-icons-block {
        text-align: center;
        padding-left: 20px;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 570px) {

}

@media screen and (max-width: 440px) {
    .contacts-info {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    .city-box {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    .logo-block {
        padding-left: 0;
    }

    .contacts-info {
        padding-left: 0
    }

    .img {
        width: 100%;
        height: 454px;
        padding: 0;
        margin: 0;
        float: none;
    }

    .png-top-white {
        width: 100%;
    }

    .png-top-red {
        width: 100%;
    }

    .png-sub {
        padding-left: 35%;
    }

    .png-sub2 {
        padding-left: 35%;
    }

    .png-sub3 {
        padding-left: 35%;
    }

    .line-1 img {
        width: 100%;
    }

    .line-2 img {
        width: 100%;
    }

    .line-2 img {
        width: 100%;
    }

}

@media screen and (max-width: 390px) {
    .text {
        margin-top: 40px;
    }

    .menu-gamburger {
        margin-left: 15px;
        padding-left: 15px;
    }
}

/*img {*/
/*width 100%*/
/*height auto*/
/*1060 995 760 570 440 390*/
/*:before*/

